@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Lobster&family=Roboto:wght@300;400;700;900&display=swap");

/* start global  */
:root {
  --mainCol: #820000;
  --secCol: #4e6c50;
  --bgColor: #dcd7c9;
  --light: #eee;
  --dark: #2c3639;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-transform: capitalize;
  box-sizing: border-box;
  transition: all 0.5s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav .logo {
  font-family: "Lobster", cursive;
  color: var(--secCol);
}
nav .links {
  display: flex;
}
nav .links ul {
  list-style-type: none;
  display: flex;
}

nav .links li a {
  text-transform: uppercase;
  margin-left: 1rem;
  text-decoration: none;
  color: var(--dark);
}
nav .links li a:last-child {
  margin-right: 1rem;
}
nav .links li a:hover,
nav .links li a.active {
  color: var(--mainCol);
  border-bottom: 1px solid var(--mainCol);
  padding-bottom: 2px;
}
nav .fa-cart-shopping {
  color: var(--mainCol);
  padding-left: 5px;
  border-left: 1px solid #777;
  cursor: pointer;
}

.cart-overlay {
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #111;
  background-color: #fff;
  text-align: center;
}
.cart-overlay .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.cart-overlay .text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart-overlay.active {
  z-index: 1000;
  right: 100px;
}
.cart-overlay .fa-xmark {
  cursor: pointer;
  color: var(--mainCol);
  font-size: 22px;
}
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
#overlay.active {
  display: block;
}

nav .menu {
  display: none;
  padding-left: 1rem;
}
/* start home */

.home {
  background-image: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  padding: 0 3rem;
}

.home h4 {
  color: var(--dark);
  margin: 10px 0;
}
.home h1 {
  font-size: 32px;
  color: var(--mainCol);
}
.home p {
  color: var(--secCol);
  line-height: 1.8;
  margin: 10px 0;
}

button {
  background-color: var(--mainCol);
  color: var(--light);
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: var(--mainCol);
  text-transform: uppercase;
}

/* end home */

/* start about */
.about {
  margin: 3rem 0;
}
.about h3 {
  text-align: center;
  font-family: "Lobster", cursive;
  color: var(--secCol);
  margin: 3rem 0;
}

.about .abt-cards {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
.about .cicle {
  width: 150px;
  height: 150px;
  background-color: var(--bgColor);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}
.about .cicle:first-child {
  background-color: var(--mainCol);
}
.about .cicle:nth-child(2) {
  background-color: var(--secCol);
}
.about .cicle p {
  padding: 7px 0;
  font-size: 12px;
}

.about .abt-text {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: 1rem;
}

.about .abt-text .txt {
  color: #777;
  background-color: var(--light);
  padding: 1rem 1.5rem;
  line-height: 1.8;
  font-size: 12px;
}
.about .abt-text .txt h2 {
  color: var(--dark);
}

/* end about */
/* start products */

.products {
  background-color: var(--light);
  padding: 3rem 0;
}
.products .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 1rem;
}
.products h3 {
  text-align: center;
  font-family: "Lobster", cursive;
  color: var(--secCol);
  padding-bottom: 3rem;
}
.products .pro-card {
  width: 1200px;
  position: relative;
  overflow: hidden;
}
.products .box {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  height: 150px;
  background: rgba(1, 1, 1, 0.3);
}

.products .pro-card img {
  width: 100%;
  height: 400px;
  z-index: 2;
}
.products .card-info {
  width: 100%;
  margin: 20px;
  color: var(--dark);
}

.products .card-info h2 {
  color: var(--dark);

  border-bottom: 2px solid var(--mainCol);
}
.products .card-info h2 i {
  color: var(--mainCol);
}
.products .card-info p {
  padding: 2rem 0;
}

/* start gallery */
/* .gallery .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
}
.gallery .container .view {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.gallery .container .view img {
  width: 100%;
  padding-bottom: 1rem;
} */

/* @media screen and (max-width: 769px) { */
/* .gallery .container {
    flex-direction: column;
  }
  .gallery .container .view {
    width: 100%;
  }
} */

/* end products */
/* start promo */
.promo {
  background-image: url("../images/img1.jpg");
  background-size: cover;
  height: 200px;
  color: var(--dark);
  padding: 10px;
}
.promo .promo-card {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.promo .promo-info h3 {
  color: var(--secCol);
}
.promo .promo-info h1 {
  color: var(--mainCol);
  padding: 1rem 0;
}
.promo button {
  background-color: #fff;
  color: var(--mainCol);
}

.promo button:hover {
  background-color: var(--mainCol);
  color: var(--light);
}
.promo a:hover {
  color: var(--light);
}
/* end promo */
/* start sub */
.sub {
  padding: 3rem 0;
  position: relative;
  margin: 2rem 0;
}
.sub-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-card.active {
  filter: blur(100px) brightness(0);
}
.popup.active {
  visibility: hidden;
  opacity: 0;
  top: 30%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: var(--mainCol);
  border-radius: 8px;
  padding: 30px;
  width: 450px;
  opacity: 1;
  transition: all 0.7s;
  background-color: #fff;
}
.popup h2 {
  padding: 2rem 0;
  text-align: center;
}
.popup form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
.popup input {
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid var(--mainCol);
}

.join {
  padding: 10px 15px;
  width: 65%;
  border: none;
  background-color: var(--mainCol);
  color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}
.x {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  padding: 2px;
  cursor: pointer;
  color: var(--secCol);
  border: 1px solid var(--secCol);
  border-radius: 50%;
  text-align: center;
}
.x:hover {
  color: var(--mainCol);
  border-color: var(--mainCol);
}

.sub .sub-card .cicle {
  width: 80px;
  height: 80px;
  background-color: var(--mainCol);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.sub .sub-card h4 {
  padding-top: 8px;
  color: var(--secCol);
}

.sub .sub-card h1 {
  color: var(--dark);
  font-family: "Lobster", cursive;
  margin: 2rem 0;
}

.sub form input {
  background-color: white;
  height: 35px;
  width: 250px;
}

.sub input::placeholder {
  text-align: center;
  font-size: 14px;
}

/* end sub */
/* start contact */
.contact {
  text-align: center;
  padding: 3rem 0;
  background-color: var(--light);
}

.contact .contact-details h3 {
  color: var(--dark);
  font-family: "Lobster", cursive;
  font-size: 22px;
}
.contact .contact-details p {
  line-height: 1.8;
  color: #777;
  margin-bottom: 1rem;
}

.contact .contact-info {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
}

.contact .contact-info .info {
  padding: 1.5rem;
  color: #aaa;
}
.contact .contact-info .info i {
  font-size: 30px;
  padding-bottom: 0.5rem;
}
.contact .contact-info .info h4 {
  padding-bottom: 0.8rem;
  color: #111;
  text-transform: uppercase;
}
/* end contact */

/* start footer */
footer {
  text-align: center;
  color: #777;
  padding: 1.5rem 0;
  background-color: var(--light);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer span {
  color: var(--dark);
}

/* start media query */
@media (max-width: 480px) {
  nav .logo h1 {
    font-size: 12px;
  }
  nav {
    height: 50px;
  }
  nav .menu {
    font-size: 18px;
  }
  nav .links {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #111;
    background-color: #fff;
    display: none;
    text-align: center;
    transition: all 0.5s;
  }
  nav .links li a:hover,
  nav .links li a.active {
    color: var(--mainCol);
    border-bottom: 1px solid var(--mainCol);
  }

  nav .links ul {
    display: block;
    margin: 2rem auto;
  }
  nav .links ul li {
    padding: 2rem;
    border-bottom: 1px solid #eee;
  }

  nav .links.active {
    top: 50px;
    display: block;
  }
  nav .menu-nav {
    display: inline-block;
  }

  .home {
    text-align: center;
  }

  .about .abt-cards,
  .abt-text {
    flex-wrap: wrap;
  }
  .about .abt-cards .cicle {
    margin: 1rem;
  }

  .about .container .pro-card {
    flex-wrap: wrap;
  }
  .products .container {
    flex-wrap: wrap;
    text-align: center;
  }
  .products .container .pro-card {
    width: 100%;
  }

  .products .container .card-info {
    width: 100%;
  }
  .promo {
    margin: 2rem 0;
    height: 40vh;
  }
  .promo-card {
    flex-wrap: wrap;
    padding: 0 0.5rem;
    text-align: center;
  }
  .promo-card .promo-info p {
    padding-bottom: 1rem;
  }
  .promo-btn button {
    background-color: var(--mainCol);
    color: var(--light);
  }
  .promo-btn button a {
    color: var(--light);
  }
  .contact {
    height: 90vh;
  }
  .contact .contact-info {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .sub-card {
    text-align: center;
  }
  .popup {
    width: 80%;
  }

  .popup form input {
    width: 200px;
  }
  .popup .join {
    width: 200px;
  }
}

@media (max-width: 768px) {
  nav .logo h1 {
    font-size: 18px;
  }
  nav {
    height: 50px;
  }
  .cart-overlay {
    width: 100%;
  }
  nav .menu {
    display: inline-block;
    font-size: 18px;
  }
  nav .links {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #111;
    background-color: #fff;
    display: none;
    text-align: center;
    transition: all 0.5s;
  }
  nav .links li a:hover,
  nav .links li a.active {
    color: var(--mainCol);
    border-bottom: 1px solid var(--mainCol);
  }

  nav .links ul {
    display: block;
    margin: 2rem auto;
  }
  nav .links ul li {
    padding: 2rem;
    border-bottom: 1px solid #eee;
  }

  nav .links.active {
    top: 50px;
    display: block;
  }

  .about .abt-cards .cicle {
    margin: 1rem;
  }

  .about .container .pro-card {
    flex-wrap: wrap;
  }
  .products .container {
    flex-wrap: wrap;
    text-align: center;
  }
  .products .container .pro-card {
    width: 100%;
  }

  .products .container .card-info {
    width: 100%;
  }
  .contact .contact-info {
    padding: 1rem;
  }
}

/* shop style */
.products-con {
  padding: 0 3rem;
}

.products-con .head {
  text-align: center;
  padding: 1rem 0;
}
.products-con .head p {
  color: var(--mainCol);
}
.products-con .head h2 {
  color: var(--dark);
  font-size: 2rem;
  margin: 1rem;
  line-height: 1.8;
}
.products-con .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #fff;
}
.products-con .product {
  width: 20%;
  border-bottom: 1px solid #eee;
  height: 320px;
}
.products-con .product:hover {
  border-bottom: 1px solid var(--mainCol);
}
.products-con .product img {
  width: 100%;
  max-height: 150px;
}
.products-con .product img:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.products-con .product h4 {
  color: #777;
  padding: 8px 0;
}
.products-con .product p {
  line-height: 1.6;
  color: var(--dark);
  padding: 8px 0;
}
