<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Revo's Store | Shop</title>

    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://kit.fontawesome.com/df33848c67.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- start nav -->
    <nav>
      <div class="logo">
        <h1>Revo's</h1>
      </div>
      <div class="links">
        <ul>
          <li><a href="#home">Home</a></li>

          <li><a href="#promo" class="active">Promo</a></li>
        </ul>
      </div>
      <div class="nav-menu">
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-bars menu"></i>
      </div>
    </nav>
    <!-- end nav -->
    <section class="home" id="home">
      <div class="container">
        <h4>New Products</h4>
        <h1>Unique products and good quality</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, ad!
        </p>
        <button>get start</button>
      </div>
    </section>
    <!-- end home -->
    <script src="../js/script.js"></script>
  </body>
</html>
